{% extends 'base.html.twig' %}
{% block title %}
    Books List
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Owned Books list</h1>
        <p>
            <a class="mx-2" href="{{ path('books_full_list') }}" style="font-size: 20px; color: #00BCD4">All</a>
            {% for letter in 'a'|upper..'z'|upper %}
                <a class="mx-2" href="?letter={{ letter }}" style="font-size: 20px; color: #00BCD4">{{ letter }}</a>
            {% endfor %}
        </p>
        <div class="row justify-content-center">
            {% for book in books %}
                <a class="col-md-3 mx-1 my-2 " href="{{ path('book_show' , {'id': book.id}) }}" style="overflow: hidden; text-decoration: underline;">
                    <img height="100px" width="60px" src="{% if book.thumbnail is defined %}{{ book.thumbnail }} {% else %}{{ asset('images/unnamed.png') }}{% endif %}">
                    <h5><small>{{ book.titre }}</small></h5>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}