<div class="col-12 d-flex justify-content-around mb-2">
    <a href="{{ path('book_owners_list' , {'id' : book.id}) }}" class="btn btn-dark col-11" data-toggle="tooltip" data-placement="bottom" title="{{ book.inLibraryCount }} person(s) own this book"><i class="fa fa-user"></i> {{ book.inLibraryCount }}</a>
</div>
<div class="col-12 d-flex justify-content-around">
    <a {% if exchangeCount !=0  %} href="{{ path('book_exchangers_list' , {'id' : book.id}) }}" {% endif %} class="col-md-3 btn btn-success " data-toggle="tooltip" data-placement="bottom" title="{{ exchangeCount }} copy(s) for exchange" ><i class="fa fa-exchange"></i> {{ exchangeCount }} </a>
    <a {% if sellCount !=0  %} href="{{ path('book_sellers_list' , {'id' : book.id}) }}" {% endif %} class="col-md-3 btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="{{ sellCount }} copy(s) for sale" ><i class="fa fa-dollar"></i> {{ sellCount }}</a>
    <a {% if giveawayCount !=0  %} href="{{ path('book_givers_list' , {'id' : book.id}) }}" {% endif %} class="col-md-3 btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="{{ giveawayCount }} copy(s) to giveaway (free)" ><i class="fa fa-gift"></i> {{ giveawayCount }}</a>
</div>

