{% extends 'base.html.twig' %}

{% block body %}

    {% block top_wrap %}
        <div class="hero-wrap">
            <div class="overlay"></div>
            <div class="circle-bg"></div>
            <div class="circle-bg-2"></div>
            <div class="container-fluid">
                <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">

                    <div class="one-forth pr-md-4 ftco-animate align-self-md-center"
                         data-scrollax=" properties: { translateY: '70%' }">
                        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Exchange. <br>
                            &emsp;&nbsp;Sell. <br> &emsp;&emsp;&nbsp;Giveaway.</h1>
                        <p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 2.6 }">Find
                            your next book on others users <strong>BookShelf </strong> !</p>
                        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{{ path('browse') }}"
                                                                                              class="btn btn-primary px-4 py-3">Start Your Search</a></p>
                    </div>
                    <div class="one-half align-self-md-end align-self-sm-center">
                        <div class="slider-carousel owl-carousel">
                            <div class="item">
                                <img src="{{ asset('images/dashboard_full_1.png') }}" class="img-fluid img">
                            </div>
                            <div class="item">
                                <img src="{{ asset('images/dashboard_full_2.png') }}" class="img-fluid img">
                            </div>
                            <div class="item">
                                <img src="{{ asset('images/dashboard_full_3.png') }}" class="img-fluid img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block Searche_Block %}
        <section class="ftco-section bg-light">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <form action="{{ path('decouvrir') }}" method="get" class="domain-form">
                            <div class="form-group d-md-flex">
                                <input type="text" class="form-control px-4" name="q" placeholder="Entrer le nom de livre ou ISBN...">
                                <input type="submit" class="search-domain btn btn-primary px-5" value="Recherche">
                            </div>
                        </form>
                        {{ render(controller('AppBundle:Stats:popularBooks',{ 'limit': 3 })) }}
                        {{ render(controller('AppBundle:Stats:popularCategories',{ 'limit': 3 })) }}
                    </div>
                </div>


                <div class="row justify-content-center mb-5 mt-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <span class="subheading">Exploiter notre gigantesque biblioteque</span>
                        <h2 class="mb-4">COMMENCER ET CREER VOTRE COMPTE <strong>GRATUIT</strong> </h2>
                        <p>Profitez de nos services c'est <strong>gratuit</strong></p>
                    </div>
                </div>

            </div>
        </section>
    {% endblock %}
    {% block services %}
        <section class="ftco-section services-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <span class="subheading">Services</span>
                        <h2 class="mb-4">Why choose us</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block text-center">
                            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-guarantee"></span></div></div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">100% Uptime Guarantee</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block text-center">
                            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-shield"></span></div></div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Safe and Secured</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block text-center">
                            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-support"></span></div></div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Our Dedicated Support</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block stat_block %}
        <section class="ftco-section ftco-counter img" id="section-counter"
                 style="background-image: url(images/bg_1.jpg);">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2 class="mb-4">Some fun facts</h2>
                        <span class="subheading">More than 100,000 websites hosted</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                                <div class="block-18 text-center">
                                    <div class="text">
                                        <strong class="number" data-number="2000">0</strong>
                                        <span>CMS Installation</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                                <div class="block-18 text-center">
                                    <div class="text">
                                        <strong class="number" data-number="100">0</strong>
                                        <span>Awards Won</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                                <div class="block-18 text-center">
                                    <div class="text">
                                        <strong class="number" data-number="32000">0</strong>
                                        <span>Registered Domains</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                                <div class="block-18 text-center">
                                    <div class="text">
                                        <strong class="number" data-number="31998">0</strong>
                                        <span>Satisfied Customers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block testimony_block %}
        <section class="ftco-section testimony-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <span class="subheading">Customer Says</span>
                        <h2 class="mb-4">Our satisfied customer says</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in</p>
                    </div>
                </div>
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel ftco-owl">
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5">
                                    <div class="user-img mb-5" style="background-image: url({{ asset('images/person_1.jpg') }})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5">Far far away, behind the word mountains, far from the countries
                                            Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Dennis Green</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5">
                                    <div class="user-img mb-5" style="background-image: url({{ asset('images/person_2.jpg') }})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5">Far far away, behind the word mountains, far from the countries
                                            Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Dennis Green</p>
                                        <span class="position">Interface Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5">
                                    <div class="user-img mb-5" style="background-image: url({{ asset('images/person_3.jpg') }})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5">Far far away, behind the word mountains, far from the countries
                                            Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Dennis Green</p>
                                        <span class="position">UI Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5">
                                    <div class="user-img mb-5" style="background-image: url({{ asset('images/person_1.jpg') }})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5">Far far away, behind the word mountains, far from the countries
                                            Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Dennis Green</p>
                                        <span class="position">Web Developer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5">
                                    <div class="user-img mb-5" style="background-image: url({{ asset('images/person_1.jpg') }})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                    </div>
                                    <div class="text">
                                        <p class="mb-5">Far far away, behind the word mountains, far from the countries
                                            Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Dennis Green</p>
                                        <span class="position">System Analytics</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block howItsWorck_block %}
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <span class="subheading">Services</span>
                        <h2 class="mb-4">How it works</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate">
                        <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab"
                             role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-nextgen-tab" data-toggle="pill"
                               href="#v-pills-nextgen" role="tab" aria-controls="v-pills-nextgen" aria-selected="true">Next
                                gen VPS</a>

                            <a class="nav-link" id="v-pills-performance-tab" data-toggle="pill"
                               href="#v-pills-performance" role="tab" aria-controls="v-pills-performance"
                               aria-selected="false">Performance</a>

                            <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-pills-effect"
                               role="tab" aria-controls="v-pills-effect" aria-selected="false">Effectiveness</a>
                        </div>
                    </div>
                    <div class="col-md-12 align-items-center ftco-animate">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            <div class="tab-pane fade show active" id="v-pills-nextgen" role="tabpanel"
                                 aria-labelledby="v-pills-nextgen-tab">
                                <div class="d-md-flex">
                                    <div class="one-forth align-self-center">
                                        <img src="{{ asset ('images/dashboard_full_1.jpg') }}" class="img-fluid border" alt="">
                                    </div>
                                    <div class="one-half ml-md-5 align-self-center">
                                        <h2 class="mb-4">Next gen VPS hosting</h2>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. Separated they live in
                                            Bookmarksgrove right at the coast of the Semantics, a large language
                                            ocean.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate,
                                            quibusdam sunt iste dolores consequatur</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-performance" role="tabpanel"
                                 aria-labelledby="v-pills-performance-tab">
                                <div class="d-md-flex">
                                    <div class="one-forth order-last align-self-center">
                                        <img src="{{ asset('images/dashboard_full_2.jpg') }}" class="img-fluid border" alt="">
                                    </div>
                                    <div class="one-half order-first mr-md-5 align-self-center">
                                        <h2 class="mb-4">Performance VPS hosting</h2>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. Separated they live in
                                            Bookmarksgrove right at the coast of the Semantics, a large language
                                            ocean.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate,
                                            quibusdam sunt iste dolores consequatur</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-effect" role="tabpanel"
                                 aria-labelledby="v-pills-effect-tab">
                                <div class="d-md-flex">
                                    <div class="one-forth align-self-center">
                                        <img src="{{ asset('images/dashboard_full_1.jpg') }}" class="img-fluid border" alt="">
                                    </div>
                                    <div class="one-half ml-md-5 align-self-center">
                                        <h2 class="mb-4">Effective VPS hosting</h2>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. Separated they live in
                                            Bookmarksgrove right at the coast of the Semantics, a large language
                                            ocean.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate,
                                            quibusdam sunt iste dolores consequatur</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block newsletter_block %}
        <section class="ftco-section-parallax">
            <div class="parallax-img d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                            <h2>Subcribe to our Newsletter</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in</p>
                            <div class="row d-flex justify-content-center mt-5">
                                <div class="col-md-6">
                                    <form action="#" class="subscribe-form">
                                        <div class="form-group">
                                            <span class="icon icon-paper-plane"></span>
                                            <input type="text" class="form-control" placeholder="Enter email address">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block blog_block %}
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <span class="subheading">Blog</span>
                        <h2>Recent Blog</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="blog-single.html" class="block-20"
                               style="background-image: url('{{ asset('images/image_.jpg') }}');">
                            </a>
                            <div class="text p-4 d-block">
                                <div class="meta mb-3">
                                    <div><a href="#">August 12, 2018</a></div>
                                    <div><a href="#">Admin</a></div>
                                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                                    </div>
                                </div>
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control
                                        about the blind texts</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry" data-aos-delay="100">
                            <a href="blog-single.html" class="block-20"
                               style="background-image: url('{{ asset('images/image_2.jpg') }}');">
                            </a>
                            <div class="text p-4">
                                <div class="meta mb-3">
                                    <div><a href="#">August 12, 2018</a></div>
                                    <div><a href="#">Admin</a></div>
                                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                                    </div>
                                </div>
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control
                                        about the blind texts</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry" data-aos-delay="200">
                            <a href="blog-single.html" class="block-20"
                               style="background-image: url('{{ asset('images/image_3.jpg') }}');">
                            </a>
                            <div class="text p-4">
                                <div class="meta mb-3">
                                    <div><a href="#">August 12, 2018</a></div>
                                    <div><a href="#">Admin</a></div>
                                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                                    </div>
                                </div>
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control
                                        about the blind texts</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

{% endblock %}