<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
        {% block title %}
            Accueil BookShelf
        {% endblock %}
        </title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

            <link rel="stylesheet" href="{{ asset('css/open-iconic-bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
            <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.timepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
            <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style2.css') }}">
            <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="index.html"><img src="{{ asset('images/logo.png') }}" alt="Bookshelf"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="oi oi-menu"></span> Menu
                    </button>

                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="{{ path('accueil') }}" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="{{ path('user_library') }}" class="nav-link">My Library</a></li>
                            <li class="nav-item"><a href="{{ path('decouvrir') }}" class="nav-link">Books Market</a></li>
                            <li class="nav-item"><a href="{{ path('browse') }}" class="nav-link">Browse</a></li>
                            {#<li class="nav-item"><a class="nav-link" href="">Espace PRO</a></li>#}
                            <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
                            {% if app.user %}
                                <li class="nav-item cta"><a href="{{ path('fos_user_security_logout') }}" class="nav-link"> <span>Log Out</span></a></li>
                                <li class="nav-item cta"><a href="{{ path('fos_user_profile_edit') }}" class="nav-link"><span>Edit</span></a></li>

                            {% else %}
                                <li class="nav-item cta"><a href="{{ path('fos_user_security_login') }}" class="nav-link"><span>Log In</span></a></li>
                                <li class="nav-item cta"><a href="{{ path('fos_user_registration_register') }}" class="nav-link"><span>Sign up</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- END nav -->
        {% endblock %}

        <div class="container justify-content-center">
            <div class="col-md-6">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>

        {% block body %}

        {% endblock %}

        {% block footer_block %}
            <footer class="ftco-footer ftco-bg-dark ftco-section mt-4">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">BookShelf APP</h2>
                                <p>
                                    BookShelf is a project edited by : <strong> Arbi Mazigh, Mohamed Hkiri, Ala Zaalouni </strong> as a final project for the GO MY CODE 1000 Coders formation
                                </p>
                                <p class="mt-4"><a href="#" class="btn btn-primary p-3">Get in touch</a></p>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4 ml-md-5">
                                <h2 class="ftco-heading-2">useful links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">Notre Blog</a></li>
                                    <li><a href="#" class="py-2 d-block">Equipe</a></li>
                                    <li><a href="#" class="py-2 d-block">Nos services aux auteurs</a></li>
                                    <li><a href="#" class="py-2 d-block">Politique de confidentialité</a></li>
                                    <li><a href="#" class="py-2 d-block">Contact</a></li>
                                    <li><a href="#" class="py-2 d-block">Annonceurs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Navigation</h2>
                                <ul class="list-unstyled">
                                    <li><a href="{{ path('user_library') }}" class="py-2 d-block">My Library</a></li>
                                    <li><a href="{{ path('decouvrir') }}" class="py-2 d-block">Liste de livres</a></li>
                                    <li><a href="{{ path('library_constructor') }}" class="py-2 d-block">Add a book</a></li>
                                    <li><a href="#" class="py-2 d-block">A propos</a></li>
                                    <li><a href="#" class="py-2 d-block">Notre Blog</a></li>
                                    <li><a href="#" class="py-2 d-block">Meilleur Articles</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <div class="block-23 mb-3">
                                    <ul>
                                        <li><span class="icon icon-map-marker"></span><span class="text">Les berges du lac 1, Tunis, Tunisie </span></li>
                                        <li><a href="#"><span class="icon icon-phone"></span><span class="text">71 000 000</span></a></li>
                                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@bookshelf.com</span></a></li>
                                        <li><span class="icon icon-clock-o"></span><span class="text">Monday &mdash; Friday <br>8:00am - 5:00pm</span></li>
                                    </ul>
                                </div>
                                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart" aria-hidden="true"> </i>THIS PROJECT IS MADE WITH <i class="icon-heart" aria-hidden="true"></i>
                               </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('js/aos.js') }}"></script>
            <script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
            <script src="{{ asset('js/scrollax.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })


            </script>

        {% endblock %}
    </body>
</html>
