{% extends 'base.html.twig' %}
{% block title %}
    Library {{ app.user.username }}
{% endblock %}
{% block body %}
    <div class="container">
    {% if user %}
        <div class="row">
            {% if user == app.user %}
                <div class="col-9">
                    <h1> My Library ({{ user.username }})</h1>
                </div>
                <div class="col-3">
                    <a class="btn btn-dark btn-block" href="{{ path('library_constructor') }}"> Add Another Book</a>
                </div>
            {% else %}
                <h1> {{ user.username }}'s Library  </h1>
            {% endif %}
        </div>
        <div class="row py-3" style="border: 0.5px solid grey; border-radius: 5px">
            <div class="col-md-3 flex-column">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg"  class="img img-rounded img-fluid"/>
            </div>
            <div class="px-2 col-md-9 flex-column">
                <h1 class="font-weight-bold" style="line-height: normal">{{ user.username }}</h1>
                <h3>call {{ user.phoneNumber }}</h3>
                <h2> <small>Total of {{ userBooks | length }} books in this Library</small></h2>

            </div>
        </div>
        </div>
            <div class="row active-with-click">
            {% for userBook in userBooks %}
                <div class="col-md-6 col-sm-12 col-xs-12 my-3">
                    {% include ':Books:bookSearchedFromDatabase.html.twig' with {'book' : userBook.book} %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}