{% extends 'base.html.twig' %}
{% block body %}
    {{ dump(book) }}

    {% if app.user %}
        {{ render(controller('AppBundle:Book:bookUserInformation',{ 'book': book } )) }}
        <button class="btn btn-dark "> {{ render(controller('AppBundle:Library:bookInLibrarayChecker', { 'apiId':book.apiId  })) }}</button>
        {{ form_start(reviewForm, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(reviewForm) }}
            {{ form_row(reviewForm.comment) }}
            <button class="btn btn-info" type="submit">
                {% if status %} Update comment {% else %} Comment {% endif %}
            </button>
        {{ form_end(reviewForm) }}
    {% endif %}
    {{ render(controller('AppBundle:Review:bookReviewsList',{ 'id': book.id })) }}
{% endblock %}