<article>
    {% if item.volumeInfo.imageLinks.thumbnail is defined %}
    <img src="{{ item.volumeInfo.imageLinks.thumbnail}}"/>
    {% endif %}
    <h4>{{ item.volumeInfo.title}}</h4>
    {% if item.volumeInfo.description is defined %}
        {{ item.volumeInfo.description }}
    {% endif %}
    <br>
    {% if item.volumeInfo.publishedDate is defined %}
        <strong> {{ item.volumeInfo.publishedDate }}</strong><br/>
    {% endif %}
    <br>
    {{ item.volumeInfo.authors | join }}
    <br>
    <a class="btn btn-info" href="{{ path('add_to_my_library',{'id':item.id}) }}">Ajouter a ma bibliotheque</a>
</article>