{% extends 'base.html.twig' %}
{% block title %}
    Authors List
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Author list</h1>
        <p>
            <a class="mx-2" href="{{ path('authors_full_list') }}" style="font-size: 20px; color: #00BCD4">All</a>
            {% for letter in 'a'|upper..'z'|upper %}
                <a class="mx-2" href="?letter={{ letter }}" style="font-size: 20px; color: #00BCD4">{{ letter }}</a>
            {% endfor %}
        </p>
        <div class="row justify-content-center">
            {% for author in authors %}
                <a class="col-md-5 mx-1 my-2" href="{{ path('author_profile' , {'id': author.id}) }}" style="color:black; overflow: hidden; text-decoration: underline;">
                    <img height="100px" width="100px" src="https://image.ibb.co/jw55Ex/def_face.jpg">
                    <h5><small>{{ author.nom }}</small></h5>

                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}