<div class="row">
    <div id="owl-example" class="owl-carousel" >
        {% for book in randomBooks  %}
            <div class="flex-column justify-content-around px-2">
                <a href="{{ path('book_show' , {'id':book.id}) }}">
                    {% if book.thumbnail %}
                        <img class="" width="100" height="250px" src="{{ book.thumbnail }}" alt="{{ book.titre }}">
                    {% else %}
                        <img class="" width="100" height="250px" src="{{ asset('images/unnamed.png') }}" alt="{{ book.titre }}">
                    {% endif %}
                </a>
                <div>{{ book.titre }}</div>
                <div> by {{ render(controller('AppBundle:Book:bookAuthorsList',{ 'book': book.id })) }}</div>
            </div>
        {% endfor %}
    </div>
</div>
